<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Formadora 1
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
<ion-card>
  <img alt="Silhouette of mountains" src="assets/Peppao preto.png" />

  <ion-card-content>
    <h1>Lucas Cardoso Ventura Gomes</h1>
    <h1>ADS Bangu</h1>
    <ion-button style="display: block; margin: 20px auto; width: 200px;" routerLink="/sobre">
    Sobre
  </ion-button>
  </ion-card-content>
</ion-card>
  <ion-header collapse="condense">
    
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
